<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.admin.mapper.menu.MenuMapper" >
  <resultMap id="BaseResultMap" type="org.admin.pojo.Menu" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="menu_id" property="menuId" jdbcType="BIGINT" />
    <result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="func_url" property="funcUrl" jdbcType="VARCHAR" />
    <result column="orderno" property="orderno" jdbcType="BIGINT" />
    <result column="group_id" property="groupId" jdbcType="BIGINT" />
  </resultMap>
</mapper>